/*navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/**/
.border{
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px
}

.header{
  height: 40px;
  background-color: #ECEFF1;
}
.left{
  float: left;
}
.content{
  display: block;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
}

.right{
  float:right;
}

